.navbar-default{
  background-color: #ffffff;
}

#my-logo img{
  height: 30px;
  display: inline-block;
}

#my-logo span{
  font-weight: 700;
  color: #0068FF;
}

#sign-up a{
  border: 1px solid #006aff;
  color: #006aff;
  border-radius: 5px;
  padding: 10px 15px;
  margin-top: 14px;
}

#sign-up a:hover{
  background-color:#006aff;
  color: #ffffff;
}

.navbar-default .navbar-nav>li>a {
  color: #031B4E;
  font-size: 16px;
}

.navbar-nav>li>a {
  padding: 25px 10px;
}

.my-navbar-left{
  margin-left: 60px;
}

.navbar-toggle{
  color: #006aff;
  border: none;
  font-size: 20px;
  margin-top: 9px;
}

button{
  cursor: pointer;
}

ul{
  padding-inline-start: 0;
}

li{
  display: block;
  list-style: none;
}

.jumbo{
  background: url("img/bg-sea.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  height: 100%;
}

.jumbo-text{
  color: white;
  line-height: 1.8;
  height: 100%;
}

.jumbo-text h1{
  font-size: 60px;
  font-weight: 700;
}

.jumbo-text p{
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
}

.form-card{
  height: 100%;
  background-color: white;
  border-radius: 5px;
}

.form-card h2{
  font-weight: 700;
}

.form-card a:first-of-type{
  color: #006AFF;
}

.form-card .btn{
  font-weight: 700;
  color: #5B6987;
  width: 100%;
}

.btn-default:hover {
  color: white;
  background-color: rgba(0, 104, 255, 0.7);
  border-color: none;
}

.btn-default:active{
  color: white;
  background-color: #0068FF;
}

.btn-default:active:hover{
  color: white;
  background-color: #0068FF;
}

.form-card .my-form{
  margin-top: 10px;
}

#brands{
  background-color: #F3F5F9;
  color: #5B6987;
}

#brands img{
  height: 80px;
  max-width: 100%;
}

#brands h3{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  padding: 40px;
}

#brands p{
  padding: 40px;
  font-weight: 700;
}


.title h2{
  font-weight: 700;
}

.title p{
  color: #5B6987;
  font-weight: 700;
  line-height: 1.8;
}

.title{
  margin-top: 50px;
}

.items{
  margin-top: 50px;
  margin-bottom: 50px;
}


.cards{
  margin-top: 15px;
}

.cards h4{
  color: rgb(3, 27, 78);
  font-weight: 700;
}

.cards p{
  color: #5B6987;
  font-weight: 700;
  line-height: 1.8;
}

.vertical-navbar{
  margin-left: 20%;
  border-left: 2px solid darkgrey;
}

.vertical-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60px;
}

.vertical-navbar li {
  display: block;
  color: #5B6987;
  font-weight: 600;
  padding: 8px;
  text-decoration: none;
}

.vertical-navbar li:active{
  background-color: #81C9F9;
  color: white;
  border-radius: 4px;
}


#carousel{
  background-color: #F3F5F9;
}


#carousel h2{
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 35px;
  font-weight: 700;
  color: rgb(3, 27, 78);
}

#carousel p, #carousel span{
  line-height: 3.5;
  font-weight: 700;
  color: #5B6987;
}

#carousel img{
  width: 100%;
}

.box{

}

.arrow{
  display: inline-block;
  padding: 15px;
  font-size: 30px;
  font-weight: 700;
  color: darkgrey;

}

.arrow:active{
  color: black;
}

.selectors{
  color: #0069FF;
  padding: 2px;
}

#regions{

  background-color: #031B4E;
  background-image: url("img/bg-map.svg");
  background-repeat: no-repeat;
  background-size: cover;
}


#regions h2{
  color: white;
}

#regions p{
  color: white;
  font-weight: 500;
}

table th{
    font-weight: normal;
}

 .my-table{
  color: white;
}

 .my-table .large{
  width: 65%;
}



.my-table>tbody>tr>th{
  padding: 15px!important;
}

.my-table th:first-of-type{
  font-weight: 700;
}

.my-table tr:first-of-type th{
  border-top: none;
}

#development{
  background-color: #F3F5F9;
}

.rockerbox{
  background-color: white;
}

.rockerbox img{
  margin-top: 5%;
  padding: 10px;
  max-width: 100%;
}

.rockerbox p{
  color: #5B6987;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.8;
}

.rockerbox a{
  font-weight: 700;
  display: block;
  margin-top: 20px;
  margin-bottom: 60px;
}


#account{
  background-image: url("img/bg-blue.svg");
}

#account h2{
  color: white;
  font-weight: 700;
  padding-bottom: 20px;
}

#account button{
  font-weight: 700;
}

#credits{
  background-color: #010E28;
}

#credits img{
  padding-bottom: 10px;
}

#credits p{
  color: #5B6987;
  font-weight: 600;
}

#credits span{
  color: #5B6987;
}

#credits h3{
  color: white;
  font-weight: 700;
}

#credits li a{
  line-height: 2;
  color: #5B6987;
  font-weight: 700;
}

.squalo img{
  height: 70px;
  border-radius: 5px;
  position: fixed;
  z-index: 111;
  bottom: 20px;
  right: 20px;
}

.squalo p{
  color: black;
  font-size: 17px;
  background-color: #ffffff;
  width: 20%;
  border-radius: 5px;
  padding: 10px;
  position: fixed;
  z-index: 111;
  bottom: 15px;
  right: 110px;
  filter: drop-shadow(1px 2px 1px black);
}





/*mediaquery mobile: azzerare margine vertical nav, aggiustare arrows, aggiustare table, */
