
.navbar-collapse.collapse{
  display: none !important;
}

.navbar-toggle{
  display: block;
}

@media all and (min-width: 992px){

.navbar-collapse.collapse{
  display: block !important;
}

.navbar-toggle{
  display: none;
}
}

#my-nav{
  margin-bottom: 0;
}

.my-navbar{
  margin-bottom: 0;
}

.navbar-brand{
  margin-right: 150px;
}

.jumbo{
  background: url("img/bg-sea.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  height: 100%;
}

.jumbo-text{
  color: white;
  line-height: 1.8;
  height: 100%;
}

.jumbo-text h1{
  font-size: 60px;
  font-weight: 700;
}

.jumbo-text p{
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
}

.form-card{
  height: 100%;
  background-color: white;
  border-radius: 5px;

}

.form-card .btn{
  width: 100%;
}

.form-card .my-form{
  margin-top: 10px;
}

#brands{
  background-color: #F3F5F9;
  color: #5B6987;
}

#brands h3{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  padding: 40px;
}

#brands p{
  padding: 40px;
  font-weight: 700;
}


#deploy h2{
  font-weight: 700;
}

#deploy p{
  color: #5B6987;
  font-weight: 700;
  line-height: 1.8;
}

.items{
  margin-top: 50px;
  margin-bottom: 50px;
}


.vertical-navbar{
  margin-left: 20%;
  border-left: 2px solid darkgrey;
}

.vertical-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60px;
}

.vertical-navbar li {
  display: block;
  color: #5B6987;
  font-weight: 600;
  padding: 8px;
  text-decoration: none;
}

.cards{
  margin-top: 15px;
}

.cards h4{
  color: rgb(3, 27, 78);
  font-weight: 700;
}


#carousel{
  background-color: #F3F5F9;
}


#carousel h2{
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 35px;
  font-weight: 700;
  color: rgb(3, 27, 78);
}

#carousel p, #carousel span{
  line-height: 3.5;
  font-weight: 700;
  color: #5B6987;
}

#carousel img{
  width: 100%;
}






/*mediaquery mobile: azzerare margine vertical nav*/
